# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.DS_Store*
api/.DS_Store


# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.venv
__pycache__
_next/*
package-lock.json
api/static
out
package
rsw-deployment.tar.gz
.idea/
api/static/*
.rswvenv/

test-results
db.logs
settings.json
*.log
*.lock
*.pid
*.pyc

playwright-report

cache.db
api/db.logs
api/database.db
api/data/
uploads/
data/
runtime-data/
.windsurfrules
api/kginsights/saved_schemas/
api/samples/TelecomChurn_Large_300.csv
.ubuntuenv/
.ubenv/
testdata/
api/samples/*.csv
app/.DS_Store
app/.DS_Store
components/.DS_Store
lib/.DS_Store
app/.DS_Store
.ubvenv/*

*.tar.gz

rsw-deployment.menuhiding-2806-0830.tar.gz

neo4j-mcp-env
api/.DS_Store
app/.DS_Store
components/.DS_Store
components/admin/.DS_Store
lib/.DS_Store
